.basketHeader {
    width: 33%;
    background: white;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 0;
    display: none;
    z-index: 1;
}

.basketHeader h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #005099;
}

.basketHeader span {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #005099;
}

.basketHeader .bottom {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.basketHeader p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #0f5099;
}

.basketHeader .blocker{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 450px;
    content: ' ';
    background: rgba(0,0,0,.5);
  }

  .stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@media(max-width: 576px){
    .basketHeader {
        width: 83% !important;
        background: white;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 0;
        display: none;
    }
    .basketHeader .blocker{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 340px;
        content: ' ';
    }
}